@import 'base/variables';

* {
    font-family: 'Quicksand', sans-serif;;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/_header';
@import 'blocks/buttons';